:root {
  --icon-color-default: #2c3e50;
  --icon-color-balance: #ffd700;
  /* Gold */
  --icon-color-sponsor: #1e90ff;
  /* Blue */
  --icon-color-referrals: #32cd32;
  /* Green */
  --icon-color-status: #ff6347;
  /* Red */
}

.dashboardContainer {
  display: flex;
  min-height: 100vh;
}

.icon {
  margin-right: auto;
  color: #2c3e50;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.dashboardContent {
  flex: 1;
  padding: 20px;
  background-color: white;
}

.dashboardHeader {
  text-align: center;
  margin-bottom: 20px;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.statsCards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.statCard {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.statCard .icon {
  margin-right: 8px;
  /* Add space between the icon and text */
  color: #2c3e50;
  font-size: 1.2rem;
  vertical-align: middle;
}

.detailCards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.detailCard {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detailCard .icon {
  margin-right: 8px;
  /* Add space between the icon and text */
  color: #2c3e50;
  font-size: 2rem;
  vertical-align: middle;
}

.referralSection {
  margin-bottom: 20px;
}

.icon {
  color: var(--icon-color-default);
  font-size: 1.2rem;
  vertical-align: middle;
  transition: color 0.3s;
}

.statCard-balance .icon {
  color: var(--icon-color-balance);
}

.statCard-sponsor .icon {
  color: var(--icon-color-sponsor);
}

.statCard-referrals .icon {
  color: var(--icon-color-referrals);
}

.statCard-status .icon {
  color: var(--icon-color-status);
}

.statCard {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.detailCard {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detailCard .icon {
  color: var(--icon-color-default);
  font-size: 2rem;
  vertical-align: middle;
}


.calculator {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logoutButton {
  background-color: #e74c3c !important;
  color: white !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: background 0.3s !important;
  width: 50% !important;
}

.logoutButton:hover {
  background-color: #c0392b;
}

/* Responsive Design for Mobile and Tablets */
@media (max-width: 768px) {
  .dashboardContainer {
    flex-direction: column;
  }

  .dashboardContent {
    margin-top: 1em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .dashboardContent {
    padding: 15px;
  }

  .statsCards,
  .detailCards {
    flex-direction: column;
  }

  .statCard,
  .detailCard {
    margin-bottom: 15px;
  }

  .userInfo {
    justify-content: center;
    flex-direction: column;
  }

  .userImage {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .calculator {
    width: 90%;
  }

  .logoutButton {
    width: 100%;
  }
}

/* Responsive Design for Extra Small Screens */
@media (max-width: 480px) {
  .dashboardContent {
    margin-top: 1em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .appName {
    font-size: 1.2rem;
  }

  .statCard,
  .detailCard {
    font-size: 14px;
  }

  .userImage {
    width: 30px;
    height: 30px;
  }

  .calculator input {
    width: 80%;
  }
}