.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background: linear-gradient(to bottom, black, #0056b3); */
    background-color: white;
    color: purple;
    border: 0.1px solid gray;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navLinks a {
    margin-left: 15px;
    color: purple;
    text-decoration: none;
}

.navLinks a:hover {
    text-decoration: underline;
}