.sideNav {
  width: 250px;
  background-color: white;
  color: #2c3e50;
  padding: 16px;
  /* Added more padding for better spacing */
  border-right: 3px solid rgba(0, 0, 0, 0.1);
  /* Subtle border for shadow effect */
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Left shadow effect */
}

.sideNav ul {
  list-style-type: none;
  padding: 0;
}

.sideNav nav {
  display: flex;
  flex-direction: column;
}

.appName {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #a29bfe, #720abc);
  color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.appName:hover {
  background: linear-gradient(to right, #720abc, #a29bfe);
}

.navItem {
  display: flex;
  /* Ensure content is in a row */
  align-items: center;
  /* Center text and icon vertically */
  justify-content: center;
  /* Space between label and icon */
  margin: 20px 0;
  padding: 10px;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

.icon {
  margin-right: auto;
  color: #2c3e50;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.navItem:hover .icon {
  color: #3498db;
  /* Highlight color on hover */
}


.navItem a,
.navItem span {
  color: #2c3e50;
  text-decoration: none;
  display: block;
}

.navItem:hover {
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.logoutButton {
  background-color: #e74c3c !important;
  color: white !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: background 0.3s !important;
  width: 50% !important;
}

.logoutButton:hover {
  background-color: #c0392b;
}

/* Responsive Design for Mobile and Tablets */
@media (max-width: 768px) {
  .sideNav {
    width: 94%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  .navItem {
    margin: 10px 0;
  }

  .logoutButton {
    width: 100%;
  }
}

/* Responsive Design for Extra Small Screens */
@media (max-width: 480px) {

  .sideNav {
    width: 94%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  .appName {
    font-size: 1.2rem;
  }
}